* {
  margin: 0;
  padding: 0;
}


#myCanvas {
  height: 100vh;
  width: 100%;
  background-color: black;
}

.buttonbar {
  height: 20vh;
  background-color: blue;
  display: none;
}

.button {
  box-sizing: border-box;
  border: 1px solid black;
  height: 100%;
  width: calc(100% / 7);
  display: inline-block;
  background-color: white;
}
