* {
  margin: 0;
  padding: 0;
}


#myCanvas {
  height: 100vh;
  width: 100%;
  background-color: black;
  transition: 0.2345s all;
}

.help {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  top: 5vh;
  left: 5vw;
  display: none;
}

.showHelp {
  width: 40px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 50%;
}

.showHelp:hover {
  background-color: white;
  cursor: pointer;
}
